.logo_app {
  background-image: $background-img;
}

.bd-image-apple {
  background-image: $background-img-a;
  width: $app-log-width ;
  height: $app-log-height;
}

.bg-image-google {
  background-image: $background-img-g;
}

header {
  background-color: $background-color-head;
}